################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Novovu.Argon/v16/Server/sqlite3
/Novovu.Argon/obj/x86/Debug
/Novovu.Argon.Testbench/bin/x86/Debug
/packages
